# Paramètres globaux
TZ=Europe/Paris
PUID=1000
PGID=1000

# Identifiants administrateur de Jellyfin Invites (À changer !)
INVITE_ADMIN_USERNAME=admin
INVITE_ADMIN_PASSWORD=change_me_promptly

# Les clés ci-dessous seront générées automatiquement par install.sh si laissées vides
INVITE_ENCRYPTION_KEY=
SESSION_SECRET=

# Clé API pour la liaison entre Jellyfin et Jellyfin-Invites
JELLYFIN_API_KEY=

# Configuration de l'Imprimante 3D (Moonraker / Klipper)
PRINTER_IP=192.168.1.193
MOONRAKER_URL=http://192.168.1.193:7125
PRINTER_INTERFACE_URL=http://192.168.1.193/#/home
